page-category {
    .categoryContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .categoryContainer i{
        color: map-get($colors, primary);
    }
}
