page-bookmark {
ion-label{
    white-space: normal;
    margin: 13px 8px 5px 0!important;
}
.description{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-align: justify;
    font-weight: 400;
    font-size: 12px;
}
ion-thumbnail[item-start] {
        margin: 5px 16px 5px 0 !important;
}
ion-thumbnail img {
    width: 100px!important;
    height: 100px!important;
    object-fit: cover;
}
.empty-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-container-text{
    font-size: 24px;
    font-weight: 300;
}
.bookmarkTitle{
    font-size: 1.0em;
    font-weight: 500;
}
.bookmarkContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.bookmarkContainer .cal{
    display: flex;
}
.bookmarkContainer .date{
    margin: 3px 0px 0 10px;
}
.bookmarkContainer .chat{
    margin-left: 5px;
}
.bookmarkContainer .count{
    display: flex;
    align-items: center;
}
.empty-subcontainer{
    text-align: center;
    color: #ccc;
}
.empty-container i{
    font-size: 45px;
}
}
