<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Concejales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="networkStatus!=='none'">
    <ion-list no-margin no-padding *ngIf="items">
      <ion-item *ngFor="let item of items">
        <ion-thumbnail item-start>
            <lazy-loader *ngIf="item.thumbnail" [src]="item.thumbnail"></lazy-loader>
            <lazy-loader *ngIf="!item.thumbnail" [src]="'assets/imgs/wp.png'"></lazy-loader>
          </ion-thumbnail>
        <h2 class="category-posts-title">{{wp.setTitle(item.title)}}</h2>
        <h3 class="category-posts-subtitle">{{item.custom_fields.Bloque[0]}}</h3>
        <h3 class="category-posts-subtitle">{{item.custom_fields.Cargo[0]}}</h3>
      </ion-item>
    </ion-list>
  </div>
  <div class="nodata-container" *ngIf="networkStatus==='none'">
    <h3>No hay conexión a Internet!</h3>
  </div>
</ion-content>