<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Digesto</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- <div *ngIf="networkStatus!=='none'"> -->
    <iframe id="iframe-digesto" width="100%" height="100%" style="height: 100%;border: none;" src="https://hcdposadas.gob.ar/digesto-nuevo/buscador_app"></iframe>
  <!-- 
  </div>
  <div class="nodata-container" *ngIf="networkStatus==='none'">
    <h3>No hay conexión a Internet!</h3>
  </div>
  -->
</ion-content>