<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{prevData.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="networkStatus!=='none'">
    <ion-list no-margin no-padding *ngIf="items">
      <ion-item *ngFor="let item of items" (click)="goToDetail(item)">
        <ion-thumbnail item-start>
          <lazy-loader *ngIf="item.thumbnail_images.medium_large" [src]="item.thumbnail_images.medium_large"></lazy-loader>
          <lazy-loader *ngIf="!item.thumbnail_images.medium_large" [src]="'assets/imgs/wp.png'"></lazy-loader>
        </ion-thumbnail>
        <h2 class="category-posts-title">{{wp.setTitle(item.title)}}</h2>
        <div class="category-posts-container">
          <ion-icon name="calendar" class="cal">
            <p class="date">{{getDate(item.modified)}}</p>
          </ion-icon>
          <p class="count">{{item.comment_count}}
            <ion-icon class="chat" name="chatboxes"></ion-icon>
          </p>
        </div>

      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas novedades...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div class="nodata-container" *ngIf="networkStatus==='none'">
    <h3>No hay conexión a Internet!</h3>
  </div>
</ion-content>