page-pages {
    .pagesTitle{
        font-size: 1.0em;
        font-weight: 500;
    }
    .pagesContainer{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .pagesContainer .cal{
        display: flex;
    }
    .pagesContainer .date{
        margin: 3px 0px 0 10px;
    }
    ion-label{
        white-space: normal;
        margin: 13px 8px 5px 0!important;
    }
    .description{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-align: justify;
        font-weight: 400;
        font-size: 12px;
    }
    ion-thumbnail[item-start] {
        margin: 0px 16px 0px 0!important;
    }
    ion-thumbnail img {
        width: 100px!important;
        height: 100px!important;
        object-fit: cover;
    }
}
